# This is a sample configuration file for a MushLink-type robot. Please 
# delete all lines that begin with # before using this file.
# 
# The first line of this file should be the number of MU*s that the
# robot will connect to. Then each MU* requires three lines:
# 
# Name of MUSH as it will appear in listing
# password of the robot character
# numerical.IP.address port mushtype mailtype pemittype
#
# mushtype, mailtype, and pemittype are explained in mlink.c
# Do not leave blank lines between MU entries and do not
# insert comments.
# 
# Sample for a 4 MU* listing; the first is a PennMUSH with
# @mail name=subj/mesg and lit(). The second is a DarkZone mush with
# @mail name=mesg and @npemit. The third is a TinyMUSH with the Seawolf
# mailer (+smail) and neither lit() nor @npemit. The last is a MUX with
# the MUX mailer and @npemit. ("password" is not actually the password 
# for these MU*s, obviously :).
#
4
2k5
password
130.215.48.117 5555 0 0 0
DarkZone
password
130.215.48.117 9590 2 1 2
Fantasia
password
128.83.194.15 4201 1 4 1
RiftsMUX
password
206.43.23.2 4201 3 5 2
