#navigation #brand {
    background: no-repeat scroll 0 0 transparent;
    margin-bottom: 9px;
    padding-left: 0;
}

h2 {
    font-size: 20pt;
}

.box .box-title.title {
    margin-top: 0;
}

.box-content.content {
    font-family: 'Courier New', 'Courier', monospace;
}

table thead tr {
    text-align: left;
}

table {
    width: 100%;
}